/* Custom listbox (Vocabulary Group List) */
.arn-group-list {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 280px;
	overflow-x: hidden;
	overflow-y: scroll;

	li:nth-child(even) {
		background-color: $table-striped-bg;
	}

	em {
		color: var(--bs-secondary-color);
		font-style: normal;
		font-size: smaller;
		width: 36px;
		display: inline-block;
	}

	b {
		color: var(--bs-body-color);
		font-weight: normal;
		display: inline-block;
		width: 128px;
	}

	span {
		color: var(--bs-tertiary-color);
		font-size: smaller;
	}
}

/* Vocabulary word */
.voc-word {
	font-size: $h3-font-size;
}
/* tablet and desktop */
@include media-breakpoint-up(md) {
	.voc-word {
		font-size: $font-size-base;
	}
}

/* Vocabulary audio */
.voc-audio {
	font-size: $h2-font-size;
}
/* tablet and desktop */
@include media-breakpoint-up(md) {
	.voc-audio {
		font-size: $h4-font-size;
	}
}
